body{
    background-color: rgb(153, 204, 153);
}
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content{
    height: 500px;
}

#choices{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.img{
    height: 300px;
    width: 300px;
}

#content{
    display: flex;
    flex-direction: column;
}

#scores{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
#scores{
    font-size:20px;
    font-weight: bold;
    color:rgb(55, 74, 88);
}

#rounds{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap:7px;
}

#para{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
#present{
    margin-top: 70px;
}

#eh1{
    flex:1;
    text-align: center;
    margin: 0 auto;
    color:rgb(68, 140, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#restart{
    padding:3px 5px;
    border-radius: 12px;
    background-color: lightpink;
    border:solid black 1px;
}

#present{
    font-size: 30px;
    color:rgb(255, 252, 66);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#final{
    font-size:40px;
    font-weight: bold;
    color:rgb(180, 108, 168);
}
#submit{
    border: solid black 1PX;
    padding: 3px 10px;
    background-color: beige;
    border-radius: 8px;
}

label{
    font-size:25px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}